.btn {
  width: 100%;
  border: 3px solid black;
  background: none;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  color: black;

  &.active {
    background-color: hsl(200, 100%, 50%);
    color: white;
  }

  &.inactive {
    opacity: .3;
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: hsl(200, 100%, 75%);
  }
}
